body {
  font-family: 'Open Sans', sans-serif;
  background-color: #353A47;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.round-avatar {
    margin-top: 70px;
    margin-bottom: 20px;
    position: absolute;

    /*border: 2px solid #FFFFFF;*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    display: block;
    margin-left: 10%;
    margin-right: 20px;

}

#home-btn {
	position: right;
	margin-top: 30px;
	margin-left: 85%;
}

.about {
	position: relative;
	width: 600px;
	text-align: justify;
	margin-left: 32%;
	margin-top: 25px;
}

p {
	font-weight: 300;
	font-size: 21px;
	color: #FFFFFF;
	line-height: 28px;
}

h4 {
	font-weight: 400;
	font-size: 48px;
	color: #FFFFFF;
	line-height: 65px;
	margin-bottom: 10px;
}

#aw-resume {
	margin-top: 10px;
	margin-bottom: 10px;
}
